
/************************************************************************************
GENERANDO ESTILOS 
*************************************************************************************/

body {
    background: #0d1424 url(../Imagenes/Gitimagen.jpg) repeat center top;
    font: .81em/150% Arial, Helvetica, sans-serif;
    color: #666;
    
  }

a {
   color: white;
   text-decoration: none;
   outline: none;

}

#header {
    position: relative;
    height: 160px;
}

#main-nav {
    width: 100%;
    background: #ccc;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    /* gradient */    
    background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#6a6a6a));
    background: -moz-linear-gradient(top,  #b9b9b9,  #6a6a6a);
    background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
    /* rounded corner */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /* box shadow */
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
}

#main-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    position: relative;
}

#main-nav li:first-child {
    margin-left: 10px;
}

#main-nav a {
    line-height: 100%;
    font-weight: bold;
    color: #fff;
    display: block;
    padding: 14px 15px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

#main-nav a:hover {
    color: #fff;
    background: #474747;
    /* gradient */
    background: -webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#797979));
    background: -moz-linear-gradient(top,  #cdcdcd,  #797979);
    background: linear-gradient(-90deg, #cdcdcd, #797979);
 
}